body {
	max-height: 1500px;
	background-image: url("IMG_1325.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 20px;
}

.material-icons {
	height: 100px;
}

.profile {
	border: 5px solid white;
	border-radius: 50%;
}

i.icon-white {
	color: white;
}