body {
	background-image: url("IMG_1325.JPG");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Josefin Sans', sans-serif;
}

img {
	height: 250px;
	margin: 25px;
}

.brand-logo {
	padding: 10px;
}

.card {
	height: 300px;
}

#bio {
	vertical-align: top;
	margin-top: 25px;
	display: inline-block;
}